@font-face {
    font-family: "Chakra Petch";
    font-style: normal;
    font-weight: 400;
    src: url("/assets/fonts/chakraPetch/ChakraPetch-Regular.ttf")
            format("truetype"),
        url("/assets/fonts/chakraPetch/ChakraPetch-Regular.woff") format("woff");
}

@font-face {
    font-family: "Chakra Petch";
    font-style: italic;
    font-weight: 400;
    src: url("/assets/fonts/chakraPetch/ChakraPetch-Italic.ttf")
        format("truetype");
}

@font-face {
    font-family: "Chakra Petch";
    font-style: normal;
    font-weight: 700;
    src: url("/assets/fonts/chakraPetch/ChakraPetch-Bold.ttf")
        format("truetype");
}

@font-face {
    font-family: "Chakra Petch";
    font-style: italic;
    font-weight: 700;
    src: url("/assets/fonts/chakraPetch/ChakraPetch-BoldItalic.ttf")
        format("truetype");
}
