.mainBoard {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #63a9a2;
    width: 100vw;
    min-height: 100vh;
}

.mainBoard h1 {
    font-size: 3rem;
    margin-top: 30px;
}

.mainBoard p {
    font-size: 2rem;
    margin: 30px 0;
}

.mainBoard span {
    font-weight: bold;
}

.boardGame {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    margin-top: 40px;
}

.squareButtons {
    width: 100px;
    height: 100px;
    font-size: 3.5rem;
    font-weight: bold;
    display: inline-block;
    margin: 5px;
    background-color: #3e3f3d;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: all ease-in 0.2s;
}

.squareButtons:hover {
    background-color: #666;
}

.restartButton {
    padding: 10px 20px;
    width: 250px;
    font-size: 1.5rem;
    color: #fff;
    border-radius: 3px;
    border: none;
    background-color: #9fc8cabc;
    transition: all ease-in 0.2s;
    cursor: pointer;
    font-weight: 500;
}

.restartButton:hover {
    background-color: rgb(97, 203, 193);
}

@media (max-width: 500px) {
    .restartButton {
        width: 200px;
    }
}

@media (max-width: 410px) {
    .mainBoard h1 {
        font-size: 2rem;
    }

    .squareButtons {
        width: 70px;
        height: 70px;
        font-size: 2.5rem;
    }

    .mainBoard p {
        font-size: 1.5rem;
        margin: 20px 0;
    }
}
